* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
background-color: black;
display: flex;
justify-content: center;
width: 100vw;
height: 100vh;
}

textarea {
resize: none;
border: none;
padding: 8px;
background-color: black;
color: aquamarine;
font-size: 24px;
text-align: justify;

}

textarea:focus {
border: 1px solid darkgray;
}

.content {
display: flex;
flex-direction: column;
width: 100%;
justify-content: space-around;
background-image: url('./ia.png');

}

#result {
height: 60%;
}

#question {
height: 30%;
}

.slider {
    width: 100%;
    max-width: 600px;
    height: 350px;
    position: relative;
    overflow: hidden;  /* <===  */
    border-radius: 15px;
  }
  
  .slide {
    width: 100%;
    max-width: 600px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: black;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.2);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }
